@page
@model FNSB.File.Viewer.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<li><a href="@Url.Page("./Category/Index")">Gear Category</a></li>
<li><a href="@Url.Page("./GearItem/Index")">Gear List</a></li>

